<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boast or Roast</title>
</head>
<body>
    <h1>Qu33n B's Spilling the Tea</h1>

    <span>
        <a href="/boasts/">
            <button>
                Show only boasts!
            </button>
        </a>
    </span>
    <span>
        <a href="/roasts/">
            <button>
                Show only roasts!
            </button>
        </a>
    </span>
    <span>
        <a href="/most-liked/">
            <button>
            Most liked!
            </button>
        </a>
    </span>
    <span>
        <a href="/least_liked/">
            <button>
            Least liked!
            </button>
        </a>
    </span>
    <br>
    <br>
        {% for item in data %}
            <li>{{ item.post }}</li>

            {% if item.boast_or_roast%}
                <strong>Boast</strong>
            {% else %}
                <strong>Roast</strong>
            {% endif %}

            {{ item.submission_time }}
            <div>

                <table>
                    <tbody>
                        <tr>
                            <td>
                                <a href="/like/{{item.id}}/"><button> 👍 </button></a> {{ item.up_votes }}
                            </td>
                            <td>
                                <a href="/dislike/{{item.id}}/"><button> 👎 </button></a> {{ item.down_votes }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            

            <br>

        {% endfor %}

</ul>

<a href="/post/">
    <button>
Give us the tea!
    </button>
</a>

<a href="/">
    <button>
    Return home!
    </button>
</a>

</body>
</html>
