<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boast or Roast</title>
</head>
<body>
    <h1>Qu33n B's Spilling the Tea</h1>

    <button>
        <a href="/boasts/">Show only boasts!</a>
    </button>
    <button>
        <a href="/roasts/">Show only roasts!</a>
    </button>
    <button>
        <a href="/sort/">Sort by vote score!</a>
    </button>

    <ul>
        {% for item in data %}
            <li>{{ item.post }}</li>

            {% if item.boast_or_roast%}
                <strong>Boast</strong>
            {% else %}
                <strong>Roast</strong>
            {% endif %}

            {{ item.submission_time }}
            <div>

                <table>
                    <tbody>
                        <tr>
                            <td>
                                <button>👍</button> {{ item.up_votes }}
                            </td>
                            <td>
                                <button>👎</button> {{ item.down_votes }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            

            <br>

        {% endfor %}

</ul>

<button>
<a href="post/">Give us the tea!</a>
</button>
</body>
</html>
